html {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    color: #3a3a3a;
}

header {
    color: white;
    background-color: #0f4c75;
}

header div,
main,
nav ul {
    max-width: 900px;
    margin: 0 auto;
}

header div{
    display: flex;
    justify-content: space-between;
   
}

header h1 {
    display: inline;
    text-shadow: 2px 2px 2px black;
    justify-content: center;
}

nav {
    position: sticky;
    margin: center;
    background-color: #3282b8;
}

nav ul {
    margin: center;
    list-style-type: none;
    padding-top: 0;
    padding-bottom: 0;
}

.menu ul li {
    width: 200px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
}

nav a,
nav a:visited {
    color: #ffffff;
    text-decoration: none;
}

nav li:hover {
    background-color: #0f4c75;
}

main > div {
    max-width: 550px;
}

main > div section,
main aside section {
    background-color:  #f9ffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin: 20px 10px;
}

main aside {
    max-width: 200px;
}

main aside,
main > div {
    text-indent: 20px;
    line-height: 32px;
    white-space: normal;
    text-transform: none;
    text-align: left;
    vertical-align: top;
    display: inline-block;
}

main aside h3 {
    margin-top: 20px
}



/* Footer */
 
footer {
    align-items: center;
    color: white;
    background-color: #3282b8;
    height: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
       
}

footer .fab {
    font-size: 60px;
    padding: 10px;
    
}


 